{% extends "base.html" %}

{% block title %}Marketplace - Flash Sales{% endblock %}

{% block body_content %}
    <!-- Django is happy now because the include statement lives safely inside a block -->
    {% include "shop/market/herosection.html" %}
    {% include "shop/market/toppick.html" %}
    {% include "shop/market/flashselling.html" %}
    {% include "shop/market/clothing.html" %}
    {% include "shop/market/topcollection.html" %}


    {% comment %} now our main body content here {% endcomment %}
{% endblock body_content %}
